// colors
$accent:  #01274F;
$button: #024184;
$white: #F2F2F2;
$red: #EB5757;
$green: #219653;
$orange: #FF7900;
$orange-gradient: linear-gradient(180deg, #FFD519 0%, $orange 100%);
$border-color: rgba(#4F4F4F, .15);

// border-radius
$card-radius: 7px;
$button-radius: 5px;

// border
$border: 0.7px solid $border-color;