.footer {
    position: relative;
    background: radial-gradient(32.24% 32.24% at 50% 2.76%, #5D9CDE 0%, rgba(1, 39, 79, 0) 100%), $accent;
    color: $white;
    margin-top: 100px;
    &__form {
        width: 920px;
        min-height: 396px;
        @include centerX;
        top: -330px;
        background: $white;
        border-radius: $card-radius;
        padding: 80px 190px;
        color: #333333;
        text-align: center;
    }
    &__form-title {
        font-weight: 700;
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    &__form-subtitle {
        width: 488px;
        margin-bottom: 30px;
    }
    &__form-inputbtn {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
    }
    &__form-input {
        width: 65%;
        background: #FCFCFD;
        border: 1px solid #E0E0E0;
        border-right: none;
        border-radius: $button-radius 0px 0px $button-radius;
        padding: 16px 20px 16px;
        font-size: 12px;
        line-height: 16px;
        color: #828282;
        &::placeholder {
            color: #828282;
        }
    }
    &__form-btn {
        font-weight: 500;
        padding-left: 26px;
        padding-right: 26px;
    }
    &__form-agreement {
        font-size: 12px;
        line-height: 16px;
        color: #4F4F4F;
    }
    &__main, &__middle {
        border-bottom: 0.5px solid rgba(#F2F2F2, .15);
    }
    &__main {
        padding: 135px 0 40px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 224px;
        height: auto;
        margin-bottom: 36px;
    }
    &__address {
        width: 117px;
        font-style: normal;
    }
    &__address, &__middle {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    &__email {
        display: block;
        color: rgba($white, .5);
        margin-top: 8px;
    }
    &__item-title {
        font-weight: 700;
        margin-bottom: 19px;
    }
    &__list-item {
        margin-bottom: 10px;
    }
    &__contact {
        @include column;
        align-items: flex-end;
    }
    &__contact-title {
        text-align: right;
        margin-bottom: 8px;
    }
    &__contact-phone {
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 23px;
    }
    &__callback-btn {
        background: #FFFFFF;
        border-radius: $button-radius;
        padding: 12px 18px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $accent;
    }
    &__middle {
        padding: 24px 0;
        color: rgba($white, .8);
    }
    &__middle-inner {
        align-items: center;
    }
    &__agreement {
        margin-left: 170px;
        margin-right: auto;
    }
    &__social-item {
        display: inline-block;
        g {
            transition: .3s all;
        }
        &:hover {
            g {
                opacity: 1;
            }
        }
    }
    &__social-item + &__social-item {
        margin-left: 15px;
    }
    &__bottom {
        padding: 30px 0;
    }
    &__bottom-text {
        width: 860px;
        font-weight: 500;
        font-size: 10px;
        color: rgba($white, .5);
    }
}